/*nav{
    background-color: #586F7C;
}
*/
.sideNav{
    background-color: #586F7C;
    color: white;

}





/**/

#dropdowns{
    background-color: #B8D8D9;
    margin-top:20px;
    margin-bottom:10px;
    height:50px;
    width:;
}

